* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: antiquewhite;  
    font-family: 'Montserrat', sans-serif;    
    }

    img, div {
        position: absolute;
    }
    
    .container {         
    top:5%;        
    left:5%;        
    height: 90%;        
    width: 90%;        
    background-color:burlywood;        
    }

    .img-fondo {
    top:0;        
    left:0;
    height: 100%;    
    width: 100%; 
    }

    .sprites {
        height: 15%;    
        width: auto;
        cursor: pointer; 
    }
    #imgSesion1 {
        top: 12%;
        left: 2%;
    }

    #imgSesion2 {
        top: 81%;
        left: 17%;
    }

    #imgSesion3 {
        top: 75%;
        left: 36%;
    }
    #imgHome {
        top: 4%;
        left: 88%;
    }

    .div-info {
        background-color: rgba(32, 16, 0, 0.5);
        z-index: 900;
        top: 10%;
        left: 25%;
        height: 50%;
        width: 60%;
        padding-left: 1em;
        padding-right: 1em;
        border-radius: 5px;
    }

    .no-display {
        display: none;
    }

  